<h1>My List</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list)  %> <%=link_to 'Edit List', edit_list_path(list)%> </li>
  <% end %>
</ul>
<p><%= link_to 'Add List', new_list_path(@list) %></p>
